* {
  margin: 0;
  padding: 0;
  outline: none;
}
body {
    width: 100%;
    overflow: hidden auto;
}
footer {
  width: 100%;
  color: #ffffff;
}
a {
  text-decoration: none;
  font-size: 13px;
  color: #ffffff;
}
.footer-bg-black {
  background-color: #000000;
}
.container {
  width: 100%;
  max-width: 1115px;
  margin: 0 auto;
  padding: 25px 0;
}
.address {
  text-align: left;
  line-height: 32px;
}
.address h3 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
}
.white-separator {
  border: 5px solid #ffffff;
  width: 44.94px;
  text-align: left;
  margin: 20px 0;
}
.btn-white {
  background: #ffffff;
  border-radius: 5px;
  border: 0;
  height: 38px;
  text-align: center;
  padding: 0 16px;
  max-width: 195px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
}
.btn-white a {
  color: #000000;
  margin-left: 18px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}
.Row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.created {
  display: flex;
}
section.created div {
  margin-right: 29px;
}
.inputbusca {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #7a7a7a;
  border: 0;
  border-bottom: 1px solid #7a7a7a;
  width: 718px;
  height: 25px;
}
.conta-link {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #7a7a7a;
  margin-right: 15px;
}
.iconebusca {
  width: 18px;
  height: 18px;
}
.iconecompra {
  width: 18px;
  height: 18px;
}
.qtd-carrinho {
  background-color: #f8475f;
  width: 14px;
  height: 14px;
  color: #ffffff;
  text-align: center;
  border-radius: 50px;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  margin-left: 8px;
}
.icone-compra {
  display: flex;
  align-items: center;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header-icone {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* slick */
.slick-slide img {
  width: 100%;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: deeppink;
  font-size: 10px;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 5px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 8px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: -3px;
  width: 10px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 1;
  color: #bdbdbd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots {
  position: absolute;
  bottom: 18px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-prev {
    left: 0;
    background: #000000;
    z-index: 3;
}

.slick-next {
  background: #000000;;
  right: 0;
  z-index: 3;
}

/* vitrine */
.preco-por {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #000000;
}
.parcelamento {
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #7a7a7a;
  margin-bottom: 5px;
}
.btn-black {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  cursor: pointer;
  align-items: center;
  text-align: center;
  color: #ffffff;
  font-family: Nunito;
  background: #000000;
  width: 125px;
  height: 32px;
  justify-content: center;
  border: 0;
  border-radius: 5px;
}
.vitrine {
  height: 353px;
  width: 216px;
  left: 380px;
  top: 590px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.vitrine img {
  width: 216px;
  height: 200px;
}
.nome-do-produto {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #7a7a7a;
  margin-bottom: 5px;
}
.mais-vendidos {
  font-weight: 900;
  font-size: 20px;
  line-height: 27px;
  margin-left: 75px;
}
.line {
  height: 0px;
  border: 4.29723px solid #c0c0c0;
  width: 65px;
  margin-left: 75px;
}
.vitrine-carousel{
  position: relative;
}

/* Estrela */

.estrela img {
  height: 15px;
  width: 90px;
  margin: auto;
  margin-bottom: 25px;
}

.vitrine-section {
  margin: 0 0 70px 0;
}
.vitrine .btn-black{
  opacity: 0;
}

.vitrine:hover .btn-black{
      opacity: 1;

}
.vitrine:hover{
  background: #E6E8EA;
}

/* promoçoes */

.participe-das-promoçoes {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    display: block;
    color: #333333;
    margin: 0 0 20px 0;
}

.inputlogin {
  background: #ffffff;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
  color: #585858;
  width: 280px;
  height: 40px;
  border: 0;
  margin-right: 8px;
  padding: 0 0 0 12px;
}
.newsletter {
  background: #f2f2f2;
  padding: 36px 0;
}
.form-newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
}
